@import "scss/vars";

.userBox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5rem;
  padding: 0 1rem 0 0;
  align-items: center;
  border-right: $border;
  justify-self: end;
  grid-column: 3 / 4;

  &__imageContainer {
    width: 2rem;
    height: 2rem;
    border: $border;
    border-radius: 50%;

    &.padd {
      padding: .25rem;
    }

    .image {
      border-radius: 50%;
    }
  }

  &__userName {
    margin: 0;
    color: $gray;
    font-weight: 600;
    text-transform: capitalize;
  }
}